/* обнуление стилей */
*, *::after, *::before {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: 14px;
}
img {
	vertical-align: top;
}


.navigation {}

.menu {
	color: darkblue;
}

.navigation .mainnav {
	color: darkcyan;
}

.nazvanie {
	color: darkred;
}

.zagolovok {
	color: red;
}

.top {
	color: cyan;
}

.razdel {
	color: green;
}

.razdel .podzagolovok {
	color: blueviolet;
}

li.list {
	color: forestgreen;
}

.podrazdel {
	color: blue;
}